In [4]:
import numpy as np
import pandas as pd

In [10]:
carbonico = pd.read_csv('co2.csv', sep = '\t')

In [11]:
carbonico.head()

       data   media
0  1980.042  338.45
1  1980.125  339.15
2  1980.208  339.48
3  1980.292  339.87
4  1980.375  340.30

In [12]:
media_carb = np.mean(carbonico['media'])

In [13]:
dt_carb = carbonico['data'][1] - carbonico['data'][0]