In [1]:
import pandas as pd

# Series

In [2]:
data = [1,2,3,4,5]

In [3]:
s = pd.Series(data)

In [4]:
s

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
index = ['Linha' +str(i) for i in range(5)]

In [6]:
index

['Linha0', 'Linha1', 'Linha2', 'Linha3', 'Linha4']

In [7]:
s = pd.Series(data = data,index= index)

In [8]:
s

Linha0    1
Linha1    2
Linha2    3
Linha3    4
Linha4    5
dtype: int64

In [11]:
data = {'Linha' + str(i) : i + i for i in range(5)}

In [12]:
data

{'Linha0': 0, 'Linha1': 2, 'Linha2': 4, 'Linha3': 6, 'Linha4': 8}

In [13]:
s = pd.Series(data)
s

Linha0    0
Linha1    2
Linha2    4
Linha3    6
Linha4    8
dtype: int64

In [15]:
s1 = s +2

In [16]:
s1

Linha0     2
Linha1     4
Linha2     6
Linha3     8
Linha4    10
dtype: int64

In [17]:
s2 = s+s1

In [18]:
s2

Linha0     2
Linha1     6
Linha2    10
Linha3    14
Linha4    18
dtype: int64

## Data Frame

In [19]:
data = [[1,2,3],
        [4,5,6],
        [7,8,9]]

In [20]:
data

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [23]:
df1 = pd.DataFrame(data = data)

In [24]:
df1

   0  1  2
0  1  2  3
1  4  5  6
2  7  8  9

In [28]:
index = ['Linha'+ str(i) for i in range(3)]

In [29]:
index

['Linha0', 'Linha1', 'Linha2']

In [30]:
df1 = pd.DataFrame(data = data, index = index)

In [31]:
df1

        0  1  2
Linha0  1  2  3
Linha1  4  5  6
Linha2  7  8  9

In [32]:
columns = ['Coluna'+ str(i) for i in range(3)]

In [33]:
columns

['Coluna0', 'Coluna1', 'Coluna2']

In [34]:
df1 = pd.DataFrame(data = data, index = index, columns = columns)

In [35]:
df1

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [65]:
data = {'Coluna0': {'Linha0' : 1, 'Linha1' : 4, 'Linha2' : 7},
        'Coluna1': {'Linha0' : 2, 'Linha1' : 5, 'Linha2' : 8},
        'Coluna2': {'Linha0' : 3, 'Linha1' : 6, 'Linha2' : 9}}

In [66]:
data

{'Coluna0': {'Linha0': 1, 'Linha1': 4, 'Linha2': 7},
 'Coluna1': {'Linha0': 2, 'Linha1': 5, 'Linha2': 8},
 'Coluna2': {'Linha0': 3, 'Linha1': 6, 'Linha2': 9}}

In [67]:
df2 = pd.DataFrame(data)

In [68]:
df2

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [69]:
data = [(1,2,3),
        (4,5,6),
        (7,8,9)]

In [70]:
data

[(1, 2, 3), (4, 5, 6), (7, 8, 9)]

In [71]:
df3 = pd.DataFrame(data = data, index = index, columns = columns)

In [72]:
df3

        Coluna0  Coluna1  Coluna2
Linha0        1        2        3
Linha1        4        5        6
Linha2        7        8        9

In [77]:
df1[df1 > 0] = 'A'
df1

TypeError: '>' not supported between instances of 'str' and 'int'

In [74]:
df2[df2 > 0] = 'B'
df2

       Coluna0 Coluna1 Coluna2
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B

In [75]:
df3[df3 > 0] = 'C'
df3

       Coluna0 Coluna1 Coluna2
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [76]:
df4 = pd.concat([df1, df2,df3])
df4

       Coluna0 Coluna1 Coluna2
Linha0       A       A       A
Linha1       A       A       A
Linha2       A       A       A
Linha0       B       B       B
Linha1       B       B       B
Linha2       B       B       B
Linha0       C       C       C
Linha1       C       C       C
Linha2       C       C       C

In [78]:
df4 = pd.concat([df1, df2,df3], axis = 1)
df4

       Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2 Coluna0 Coluna1 Coluna2
Linha0       A       A       A       B       B       B       C       C       C
Linha1       A       A       A       B       B       B       C       C       C
Linha2       A       A       A       B       B       B       C       C       C

In [80]:
df1 = pd.DataFrame({'A': {'X': 1}, 'B': {'X': 2}})
df2 = pd.DataFrame({'C': {'X': 3}, 'D': {'X': 4}})
pd.concat([df1, df2])

     A    B    C    D
X  1.0  2.0  NaN  NaN
X  NaN  NaN  3.0  4.0

In [81]:
dados = [('A', 'B'), ('C', 'D')]
df = pd.DataFrame(dados, columns = ['L1', 'L2'],  index = ['C1', 'C2'])
df

   L1 L2
C1  A  B
C2  C  D

In [82]:
dados = [[1, 2, 3], [4, 5, 6]]
index = 'X,Y'.split(',')
columns = list('CBA')[::-1]
df = pd.DataFrame(dados, index, columns)
df

   A  B  C
X  1  2  3
Y  4  5  6

In [83]:
dados = {'A': {'X': 1, 'Y': 3}, 'B': {'X': 2, 'Y': 4}}
df = pd.DataFrame(dados)
df

   A  B
X  1  2
Y  3  4